{
	"Telegram": {
		"Token":   "123456789:ABcDefGhIJkLMnOPQ12346IPJSRnwTkFPEb",
		"AdminID": "87654321"
	},
	"Webduino": {
		"DeviceID": "aBcD",
		"Led": {
			"DigitalPin": 1
		},
		"Servo": {
			"DigitalPin": 2
		}
	}
}